/*MEDIA QUERIE PARA CELULARES*/
@media only screen and (max-width: 768px){
	.container{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 150px 600px 200px 200px 200px 150px;
		grid-auto-flow: row;
		grid-auto-columns: 1fr;
		grid-template-areas:
		"header"
		"hero"
		"section-a"
		"section-b"
		"section-c"
		"footer"
		;
		width: 100%;
		height: 100%;
		grid-gap: 5px;
	}
}
// ---------------------------------------------------------------------------------------
/*MEDIA QUERIE PARA TABLETS*/
@media only screen and (min-width: 769px) and (max-width: 1023px){
	.container{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 250px 450px 200px 200px	200px 150px;
		grid-auto-flow: row;
		grid-auto-columns: 1fr;
		grid-template-areas: 
		"header"
		"hero"
		"section-a"
		"section-b"
		"section-c"
		"footer"
		;
		width: 100%;
		height: 100%;
	}
}
// ---------------------------------------------------------------------------------------
/*MEDIA QUERIE PARA DESKTOP*/
@media only screen and (min-width: 1024px){
	.container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 150px 500px 300px 150px;
		grid-auto-flow: row;
		grid-auto-columns: 1fr;
		grid-template-areas: "header header header"
		"hero hero hero"
		"section-a section-b section-c"
		"footer footer footer"
		;
		width: 100%;
		height: 100%;
	}
}